body {
  margin: 0;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#calculator {
  background-color: hsl(0, 0%, 10%);
  max-width: 500px;
  overflow: hidden;
  border-radius: 15px;
}

#display {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  font-size: 5rem;
  text-align: left;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 10px;
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
.operator {
  background-color: hsl(56, 61%, 55%);
}
.operator:hover {
  background-color: hsl(56, 80%, 60%);
}
.operator:active {
  background-color: hsl(56, 100%, 50%);
}
